


.userUpload-content {
    display: flex;
    justify-content: center;
}

.userUpload-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}


.userUpload-top {
    display: flex;
    flex-direction: column;
}

.userUpload-Profileimg {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}

.userUpload-BtnUplFile {
    position: relative;
    bottom: 55px;
    left: 160px;
}

.userUpload-camera {
    width: 50px;
    height: 50px;
}

.userUpload-Btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}