

/* style za info od filma */
/* stile za actors */
/* actors */

.title-actors {
    padding: 20px;
  }
    
    
      .actors-content {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        /* align-items: center; */
        border-radius: 20px;
        gap: 10px;
      }
    
      .actors-card {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        /* height: 600px; */
        width: 300px;
        border-radius: 20px;
      }
    
      .actors-img {
      border-radius: 20px;
      height: 400px;
      width: 100%;
      cursor: pointer;
      }
    
      .actors-botton-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    
      .actors-name {
        font-size: 20px;
      }
    
      .actors-character {
        font-size: 20px;
      }
    
  /* swiper content actors */
  .swiper-Actors {
    background-color: yellowgreen;
    height: 520px;
  }
  
  
  @media only screen and (max-width: 425px) {
    .swiper-Actors {
        background-color: rgb(50, 71, 205);
        height: 505px;
    }
    
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
  
    .swiper-pagination {
        display: none;
    }
  }