

.section-createAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}


.content-registeringAccountCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-registering {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputEmail, .inputPwd, .inputUserName {
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    /* border: none; */
}

.pasword-contentRegister img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 11px;
    left: -40px;
    cursor: pointer;
}

.registerighaveAcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}