
.usersContentList-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
}


@media only screen and (max-width: 1024px) {
    .usersContentList-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }
}


@media only screen and (max-width: 768px) {
    .usersContentList-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }
}


@media only screen and (max-width: 425px) {
    .usersContentList-content {
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        gap: 10px;
    }
}