
/* ovde je sakriven dok nije ispod 1000px */
/* .searchBarMobile-container {
    display: none;
} */

.searchBarMobile-container {
    display: none;
    position: relative;
    width: 50%;
    margin: 0 auto; /* Center the container */
    /* border: 1px solid black; */
  }
  
  
  .searchBarMobile-content {
      display: flex;
      width: 100%;
      align-items: center;
    }
    
    .searchBarMobile-form {
      display: flex;
      align-items: center;
      width: 100%;
    }
    
    .searchBarMobile-input {
      /* display: none; */
      width: 100%;
      height: 3rem;
      font-size: 20px;
      border: none;
      border-radius: 50px;
      padding: 10px;
    }
    
    
    .searchBarMobile-input:focus {
      outline: none;
    }
  
    .searchBarMobile-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 0px;
    }
  
    @media only screen and (max-width: 1000px) {
      .searchBarMobile-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    }
  
        
  