

/* stil  genres*/

.movieDetails-genres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.movieDetails-genresContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    /* border: 1px solid black; */
    border-radius: 20px;
    width: fit-content;
    background-color: #b7adad9e;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.genresText {
    font-weight: bold;
    color: white;
    
}

.genresImg {
    width: 20px;
    height: 20px;
}

/* stil  genres*/


@media only screen and (max-width: 768px) {
    .movieDetails-genres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
}