

.watchlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.watchlist.add {
    background-color: #ccc;
    color: black;
}


 .watchlist.remove {
    background-color: #4caf50;
    color: white;
}


.iconBtns {
width: 30px;
height: 30px;
cursor: pointer;
}